
.red {
  background-color: #FF6363 !important;
}
.orange {
  background-color: #FFAB76 !important;
  color: rgb(15, 15, 15);
}
.yellow {
  background-color: #F6FFA4 !important;
}
.lgreen {
  background-color: #95E1D3 !important;
  color: #102742
}
.green {
  background-color: #00C897 !important;
  color: #102742;
}

.lighter {
  filter: brightness(115%);
}
.lightest {
  filter: brightness(130%);
}
.darker {
  filter: brightness(85%);
}
.darkest {
  filter: brightness(75%);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 169%;
  background-color: rgba(245, 245, 245, alpha);
}
.video_container {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

/* .min_height {
  min-height: 1000vh;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* border:1px solid rgb(232, 13, 13); */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
} */
.container_bot {
  margin-top: 90vh;
}

/* navbar */
.navbar_top {
  z-index: 100;
}

.links {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
.links-footer {
  
  display: flex;
  justify-content: center

}

/* BOX */
.box{
  display: flex;
  justify-content: space-evenly;
  min-height: 30rem;
  align-items: center;

}
.box-medium{
  display: flex;
  align-items: center;
}

.one-fourth {
  min-height: 25em;
}


/* Footer */
.footer-box{
  display: flex;
  align-items: center;
}

/* Form */
.form-field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 100%;
}

.form-field.text {
  height: 5rem;
 
}
.form-paper{
  width: 50%;
  padding: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-button{
  width: 95%;
}