html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.video_container {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.min_height {
  min-height: 1000vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  border:1px solid rgb(232, 13, 13);
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
} */
.container_bot {
  margin-top: 100vh;
}




/* navbar */
.navbar_top {
  z-index: 100;
}